.outer-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-page-light);
}

.inner-page-container {
    display: flex;
    margin-top: 96px; /* Top bar height = 64px, margin from topbar = 32px, for a total 96px */
    margin-left: var(--page-margin-horizontal);
    margin-right: var(--page-margin-horizontal);
    width: 100vw;
    flex-direction: column;
}