/* 
 * TODO - 15-09-2025 - MUK: If possible for time, find a way to center grid 
 * and have buttons aligned to right side of rightmost facility card
 */

.facility-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 48px;
  justify-content: flex-end;
  align-items: flex-start;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  gap: 12px;
  margin-bottom: 12px;
}

.seed-button {
  background-color: var(--color-background-brand-default);
  color: var(--color-text-positive-on-positive);
  white-space: nowrap;
}

.create-button {
  background-color: var(--color-primary-default);
  color: var(--color-text-positive-on-positive);
  white-space: nowrap;
}
